<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="navbar">
                <a class="navbar-brand" href="#">Super sklep</a>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="@Url.Action("Index","Offer")">Oferty</a></li>
                </ul>
            </div>
        </header>
        <div class="container">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
